version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: jobboard
    ports: ["5432:5432"]
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    env_file: ./backend/.env.example
    ports:
      - "4001:4000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:80" # serve builtin nginx port
    depends_on:
      - backend

volumes:
  db_data:

